@model IEnumerable<Library.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
    }

</table>
